@import url("variables.css");

.services-list{
  margin-bottom: 1rem;
}

.services-list h3{
  margin-bottom: 0;
}

.cheo{
  margin-bottom: 3rem;
}
.cheo img{
  width: 100%;
  margin-bottom: 1rem;
}

.details{
  display: flex;
  flex-direction: column;
}

.details h2{
  margin-top: 5rem;
}

.details img{
  margin: 0.5rem auto;
  width: 100%;
}
.details img:nth-of-type(2){
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.details h2,
.responsive h2{
  color: var(--p1);
}

.responsive{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
}
.responsive h2{
  margin-bottom: 1.5rem;
}

.responsive .images-container img {
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.responsive .images-container img:nth-of-type(2) {
  margin: 4rem 0;
}

@media (min-width: 768px) {

  .cheo a{
    text-transform: none;
    color: #212E84;
    cursor: pointer;
    transition: all 0.4s ease 0s
  }
  .cheo a:hover { 
    color: var(--s3);
  }
  .cheo a:hover:after { 
    width: 0%;
  }

  .responsive {
    display: flex;
    align-items: flex-start;
  }

  .responsive .images-container img:nth-of-type(2) {
    margin: 0 2rem 0 2rem;
  }

  .responsive .images-container img {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .responsive .images-container img {
    width: 20%;
  }

  .cheo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
  }
  .cheo img {
    flex: 2;
  }
  .cheo p {
    flex: 2;
    font-size: var(--font-xs);
    margin-top: -2rem;
  }
}

@media (min-width: 1100px) {
  .images-container img {
    width: 25%;
  }
}

@media (min-width: 1700px) {
  .details .steps{
    width: 80%;
    padding: 2rem;
  }

  .details{
    border-radius: 12px;
    margin: 2rem auto;
  }
}