:root{
  --primary-colour: #6DA89F;
  --secondary-colour: #ABF5EA;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #262d38;
  font-size: 16px;
}

body {
  background: linear-gradient(90deg, #eee 1%, transparent 1%) 1px 0, rgb(248, 246, 246);
  background-size: 245px 1px;
  overflow-x: hidden;
}

.st0{
  fill:#FFCCCC;
}

.st1{
  fill: rgb(231, 231, 231);
  opacity: 0.5;
}

.background-svg{
  position: absolute;
  right: 0;
  width: 600px;
  z-index: -10;
}

.container{
  /* max-width: 1750px; */
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
  height: 100vh;
}

#hero-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#hero-title h1 {
  font-size: 42px;
}

#name{
  color: var(--primary-colour);
}

button{
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 3px solid var(--primary-colour);
  background-color: transparent;
  border-radius: 16px;
  transition-duration: 0.4s;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-colour);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-colour);
  color: white;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.background-text{
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  opacity: 0.05;
  display: none;
}

/****************** PROJECTS ********************/
.project .right-section{
  display: none;
}

.project h1{
  margin-bottom: 1rem;
  color: var(--primary-colour);
}

.project .background-text{
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  opacity: 0.2;
  display: block;
  font-size: 104px;
  color: var(--secondary-colour);
}

.project-description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.6rem;
}

.project-background-svg {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -10;
  top: 550px;
}

/****************** CONTACT ********************/
.content-container{
  /* margin-top: 10rem; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #262d38;
  color: #fff;
  box-shadow: 0 12px 24px 0 #262d38, 0 3px 9px 0 #262d38;
}

.full-width{
  padding: 0;
}

#contact-me h1{
  margin-bottom: 2rem;
}

.form-group{
  margin-bottom: 2rem;
}

input, select, textarea {
  padding: 1.25rem 5rem 1.25rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(211, 216, 221, 0.1);
  margin-top: 0.5rem;
}

@media (min-width: 450px) {
  .container{
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .container{
    height: 80vh;
  }

  .background-text{
    display: block;
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 2.5rem;
  }

  #contact-me{
    display: flex;
    justify-content: center;
  }
  .content-container{
    /* margin-top: 5rem; */
    width: calc(100% - 100px);
    height: calc(100% - 50px);
    
  }

  #contact-me h1 {
    font-size: 32px;
  }
}

@media (min-width: 900px) {
  .container{
    padding: 0 8rem;
  }


  .project{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project .left-section{
    max-width: 50%;
  }

  .project .right-section{
    display: block;
    margin-right: -10rem;
  }

  .project .right-section img{
    height: 500px;
  }

  .project .background-text{
    font-size: 150px;
    letter-spacing: normal;
  }

  .project h1 {
    margin-bottom: 3rem;
  }

  .project-background-svg {
    top: 0;
  }
  
}

@media (min-width: 1500px) {

  .container{
    height: 100vh;
  }

  #hero-title h1 {
    font-size: 42px;
  }

  .background-text{
    font-size: 250px;
    font-weight: 900;
    letter-spacing: 5rem;
  }

 

  .project .background-text{
    top: 23%;
    transform: translateY(-50%);
    letter-spacing: 0;
  }

  .project-description h1{
    font-size: 72px;
    margin-top: -13.5rem;
    margin-bottom: 3.5rem;
  }

  .project-description p {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  #contact-me h1 {
    font-size: 64px;
  }

  .content-container{
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 250px);
    height: calc(100% - 100px);
  }
}