@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&family=Heebo:wght@500&display=swap');

:root{
  --p1: hsl(178, 55%, 25%);
  --p2: hsl(178, 55%, 25%);
  --p3: hsl(178, 55%, 70%);

  --s1: hsl(4, 50%, 25%);
  --s2: hsl(4, 50%, 33%);
  --s3: hsl(4, 50%, 65%);

  --t1: hsl(4, 45%, 55%);
  --t2: hsl(4, 45%, 24%);
  --t3: hsl(4, 45%, 90%);

  --gray-1: hsl(0, 0%, 15%);
  --gray-2: hsl(0, 0%, 35%);
  --gray-3: hsl(0, 0%, 55%);
  --gray-4: hsl(0, 0%, 67%);
  --gray-5: hsl(0, 0%, 90%);
}

/****************** GLOBAL ********************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
  color: var(--gray-1);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  padding-bottom: 0.5rem;
}
a:after {    
  /* background: none repeat scroll 0 0 transparent; */
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background: var(--s2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
li {
  list-style-type: none;
}
html {
  font-family: 'Muli', 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #262d38;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  /* background: linear-gradient(90deg, #eee 1%, transparent 1%) 1px 0, rgb(248, 246, 246);
  background-size: 245px 1px; */
  overflow-x: hidden;
}

/* .overflow-y{
  overflow-y: hidden;
} */

.container{
  padding: 0 2.5rem;
  /* position: relative; */
  margin: 0 auto;
  /* height: 100vh; */
}

.vertical-lines{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.show-line{
  height: 100%;
  width: calc(12% + 1px);
  display: none;
  position: relative;
  /* background-color: var(--p1); */
}
.vertical-lines .show-line::before{
  content: "";
  display: block;
  height: 100%;
  width: 1.5px;
  background: var(--gray-5);
  animation: line-in 1s ease-in-out;
}



@keyframes line-in {
	0% {
    height: 0;
	}
	100% {
    height: 100%;
	}
}
/* .vertical-lines .line::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0px;
  background: var(--gray-5);
  transition: width 1s cubic-bezier(0.215, 0.61, 0.355, 1)
} */

/****************** NAV ********************/
nav, #close{
  margin: 2rem 2rem;
  text-align: right;
  position: fixed;
  right: 0;
  z-index: 100;
}
.st4{
  fill:none;
  stroke:#444;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.close-icon{
  stroke: var(--gray-5);
  stroke-width: 4;
}
#close{
  color: var(--gray-5);
}
#menu, #close{
  display: flex;
  justify-content: right;
  cursor: pointer;
  letter-spacing: 0.35rem;
}
#menu p, #close p{
  margin-right: 1rem;
}
.menu-display{
  height: 100vh;
  background-color: var(--p1);
  position: fixed;
  z-index: 100;
  width: 20vw;
  right: 0;
  box-shadow: 6px 6px 24px;
  transition: all 1000ms;
  transform: translateX(200%);
}
#hamburger-line-1{
  transition: all 1s;
  transform: translateX(0%);
}
#hamburger-line-1.menu-hover{
  transform: translateX(30%);

}
.menu-display.show{
  /* display: none; */
  transform: translateX(0%);
}
.menu-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 500ms;
 
}
.menu-display h1{
  font-size: 3rem;
  margin: 2rem;
  cursor: pointer;
}
.menu-display a{
  color: var(--gray-5);
}
.st0{
  fill: var(--t1);
  opacity: 0.7;
}
.st1{
  fill: var(--s1);
  opacity: 0.3;
}

.rect-svg{
  width: 200px;
  height: 600px;
  position: absolute;
  /* box-shadow: -12px 12px 24px 0 hsl(220, 15%, 88%), 5px 6px 9px 0 hsl(220, 15%, 94%); */
  /* animation: float 3s ease-in-out infinite; */
  display: none;
}
.r1{
  right: 15%;
  top: -13%;
}
.r2{
  left: 10%;
  bottom: -10%;
  z-index: 0;
}
.rect-shape{
  fill: var(--s1);
  opacity: 0.3;
}
.rect-shape-2{
  fill: var(--t1);
  opacity: 0.6;
}

/* @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-7px);
	}
	100% {
		transform: translatey(0px);
	}
} */
/****************** HOME ********************/
#home-section{
  margin-bottom: 5rem;
}
#hero-title h1 {
  font-size: 42px;
}

#home-section .content{
  padding: 4rem 0;
}

#name{
  color: var(--p1);
}

.cta{
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 3px solid var(--p1);
  background-color: transparent;
  border-radius: 16px;
  transition-duration: 0.4s;
  font-weight: 600;
  font-size: 16px;
  color: var(--p1);
}

.cta:hover {
  cursor: pointer;
  background-color: var(--p1);
  color: white;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}
.cta::after{
  display: none;
}
.background-text{
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  opacity: 0.05;
  display: none;
  
}

#home-section .background-svg{
  position: absolute;
  right: 0;
  width: 350px;
  z-index: -10;
}

/****************** ABOUT ********************/
.about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 500;
}

.about img {
  height: 350px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: -12px 12px 24px 0 hsl(220, 15%, 88%), 5px 6px 9px 0 hsl(220, 15%, 94%);
  filter: grayscale(100);
  z-index: 10;
}

.about img:hover {
  transition-duration: 1000ms;
  box-shadow: 2px 6px 24px;
  /* filter: grayscale(100); */
}

/****************** PROJECTS ********************/
#project-section .right-section,
.project-background-text{
  display: none;
}

.project-number{
  font-size: 140px;
  font-weight: 900;
  opacity: 0.7;
  letter-spacing: 1rem;
  color: var(--s3);
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.6rem;
  max-width: 660px;
}

.project-description h1 {
  font-size: 42px;
  margin-top: -2.5rem;
  margin-bottom: 1.5rem;
  color: var(--p1);
}

/*Projects Navigation*/
.project-nav{
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}
.project-nav h2 {
  color: var(--p2);
  font-size: 2rem;
  margin: 0.25rem 2rem 0;
}
.arrow-group{
  cursor: pointer;
}
.triangle{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke: var(--s1);
  stroke-width: 2px;
  stroke-miterlimit:10;
}
.circle{
  fill: transparent;
  stroke: var(--s1);
  stroke-width: 2px;
  stroke-miterlimit:10;
}
.arrow-group:hover  .circle{
  transition-duration: 500ms;
  /* filter: url(#dropshadow); */
  fill: #EEE;
  filter: drop-shadow( 2px 4px 6px rgba(0, 0, 0, .4));
}

/*Projects Navigation Ends*/

.switch-left-out{
  transition-duration: 400ms;
  /* transform: translateX(-500%); */
  opacity: 0;
  transform: translateX(-20%);
}
.switch-left-in{
  transition-duration: 400ms;
  transform: translateX(0%);
}

.switch-right-out{
  transition-duration: 400ms;
  opacity: 0;
  transform: translateX(30%);
}
.switch-right-in{
  transition-duration: 400ms;
  transform: translateX(0%);
}

/****************** CONTACT ********************/
.contact-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.social{
  margin-top: 5rem;
}
.social-links{
  margin-bottom: 2rem;
}
.social h3{
  margin-bottom: 1rem;
}
.contact-details span{
  color: var(--gray-4);
  padding-right: 1rem;
}

#contact-section .background-svg{
  position: absolute;
  right: 0;
  top:10%;
  width: 600px;
  /* z-index: -10; */
  display: none;
}
#contact-shape-large{
  fill:var(--p2);
  opacity: 0.5;
  filter:url(#dropshadow);
}

#contact-shape-small{
  fill: var(--s3);
  opacity: 0.7;
  filter:url(#dropshadow);
}

.contact-content h3{
  margin-bottom: 2rem;
  font-size: 24px;
}

/****************** MEDIA 450px ********************/
@media (min-width: 450px) {
  .container{
    padding: 0 5rem;
  }
  .social-links{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .social-links li{
    margin-right: 2.5rem;
  }
}
/****************** MEDIA 768px ********************/
@media (min-width: 768px) {
  nav, #close{
    margin: 2rem 5rem;
  }
  .container{
    /* height: 100vh; */
    padding: 0 7rem;
    position: relative; 
  }
  .rect-svg{
    display: block;
  }

  /****************** HOME ********************/
  #home-section{
    height: 100vh;
  }
  #home-section .content{
    height: 100%;

  }
  #home-section .background-svg{
    width: 500px;
  }
  #hero-title{
    /* position: relative;
    bottom: 10%; */
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
  }
  #home-section .background-text{
    display: block;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 2.5rem;
  }

  /****************** ABOUT ********************/
  .about{
    /* flex-direction: row; */
    /* width: 75%; */
    position: relative;
    /* transform: translateY(50%); */
    margin-bottom: 6rem;
  }
  .about img {
    height: 550px;
    width: 450px;
    box-shadow: none;
  }
  .about-text{
    margin-top: 3rem;
  }
  
  /****************** PROJECTS ********************/
  /* #project-section{
    padding-top: 10rem;
  } */
  .project-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #project-section .right-section{
    display: block;
    margin-left: 2rem;
  }
  #project-section .right-section img{
    height: 500px;
  }
  .project-background-text{
    display: block;
    font-size: 120px;
    opacity: 0.4;
    color: var(--gray-4);
    letter-spacing: 0;
    /* text-shadow: -1px 1px 0px var(--gray-2); */
  }

    /****************** CONTACT ********************/
    #contact-section .background-svg{
      display: block;
    }
}

/****************** MEDIA 900PX ********************/
@media (min-width: 900px) {
  .container{
    padding: 0 5rem;
  }

  #home-section .background-text{
    font-size: 100px;
  }
  #project-number {
    margin-bottom: 3rem;
  }

  .project-background-svg {
    top: 0;
  }

  #contact-section .project-background-text h1:last-of-type{
    margin-left: 11rem;
  }

  .social-links{
    margin-bottom: 0;
  }
}

@media (min-width: 995px) {
  .about{
    flex-direction: row;
  }

  .about img {
    height: 450px;
    width: 380px;
    margin-right: 3rem;
    box-shadow: none;
  }
}

@media (min-width: 1140px) { 
  .about{
    width: 90%;
  }
}

/****************** MEDIA 1250px ********************/
@media (min-width: 1250px) {
  .line{
    /* width: calc(12% + 1px); */
    display: inline-block;
  }

  .container{
    height: 100vh;
    padding: 0 6.5rem;
  }

  #hero-title h1 {
    font-size: 42px;
  }
  #home-section .background-text{
    font-size: 150px;
  }
  #home-section .background-svg{
    width: 600px;
  }
  .background-text{
    font-size: 250px;
    font-weight: 900;
    letter-spacing: 5rem;
  }

  /****************** ABOUT ********************/
  .about{
    width: 80%;
  }
 
  /****************** PROJECTS ********************/
  .project-description h1{
    font-size: 64px;
    margin: -4.5rem 0 3.5rem 0;
  }
  .project-description p {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1500px) {
  .container{
    padding: 0 16rem;
  }
  #home-section .background-text{
    font-size: 240px;
  }
  .about{
    width: 75%;
  }
}