@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&family=Heebo:wght@500&display=swap');
@import url("variables.css");


/****************** GLOBAL ********************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color: var(--gray-1);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  padding-bottom: 0.5rem;
}
a:after {    
  /* background: none repeat scroll 0 0 transparent; */
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background: var(--s2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
li {
  list-style-type: none;
}
html {
  font-family: 'Muli', 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #262d38;
  font-size: 16px;
  scroll-behavior: smooth;

  /* overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}
/* html::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

body {
  overflow-x: hidden;
  background-color: hsl(0, 0%, 97%);
}

.container{
  padding: 0 2.5rem;
  margin: 0 auto;
}
.vertical-lines{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

}
.index-me{
  z-index: 10000;
}
.show-line{
  height: 100%;
  /* display: none; */
  display: block;
  position: relative;
  /* box-shadow: gray 3px 3px 12px; */
}
.vertical-lines .show-line::before{
  content: "";
  /* display: block; */
  height: 100%;
  width: 1px;
  background: var(--gray-5);
  animation: line-in 1s ease-in-out;
}
@keyframes line-in {
	0% {
    height: 0;
	}
	100% {
    height: 100%;
	}
}

.line-transition.line::after,
.transition-out.line::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--p1);
  transition: width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: line-in 1s ease-in-out;
}

.transition-out.line::after{
  height: 0%;
  animation: line-out 1s ease-in-out;
}

@keyframes line-out {
	0% {
    height: 100%;
	}
	100% {
    height: 0%;
	}
}

/* .vertical-lines .line::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: red;
  transition: width 1s cubic-bezier(0.215, 0.61, 0.355, 1)
} */

/****************** NAV ********************/

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem 5rem; */
  padding: 2rem;
  position: fixed;
  z-index: 2000;
  width: 100%;
}

.logo{
  width: 60px;
  /* position: fixed; */
  /* left: 5%; */
  /* margin: 2rem 2rem; */
  /* margin-top: 1rem; */
  /* z-index: 2000; */
  cursor: pointer;
}
nav, #close{
  /* margin: 2rem 2rem; */
  text-align: right;
  /* position: fixed; */
  /* right: 0; */
  /* z-index: 100; */
  /* filter: invert(1);
  mix-blend-mode: difference; */
}

#close p{
  margin-bottom: 0;
  z-index: 10000;
}

.st4{
  fill:none;
  stroke:#444;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.close-icon{
  stroke: var(--gray-5);
  stroke-width: 4;
}
#close{
  position: absolute;
  color: var(--gray-5);
  margin: 3rem;
  right: 0;
}
#menu, #close{
  display: flex;
  justify-content: right;
  /* align-items: flex-start; */
  cursor: pointer;
  letter-spacing: 0.35rem;
}
#menu p, #close p{
  margin-right: 1rem;
}
#menu p{
  display: none;
}
.menu-display{
  height: 100vh;
  background-color: var(--p1);
  position: fixed;
  z-index: 10000;
  /* width: 20vw; */
  width: 100vw;
  right: 0;
  box-shadow: 6px 6px 24px;
  transition: all 1000ms;
  transform: translateY(-200%);
}

#hamburger-line-1{
  transition: all 1s;
  transform: translateY(0%);
}
#hamburger-line-1.menu-hover{
  transform: translateX(30%);

}
.menu-display.show{
  /* display: none; */
  transform: translateX(0%);
}
.menu-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 500ms;
}
.menu-display h1{
  font-size: 3rem;
  margin: 2rem;
  cursor: pointer;
}
.menu-display a{
  color: var(--gray-5);
}

.st1{
  fill: var(--s1);
  opacity: 0.3;
}

.section-title{
  font-size: 54px;
  opacity: 0.9;
  /* color: var(--gray-5); */
  color: var(--p1);
  letter-spacing: 0;
  line-height: 0.9;
  margin-bottom: 2rem;
}
/****************** HOME ********************/
#home-section{
  /* margin-bottom: 5rem; */
  height: 100vh;
}
#hero-title h1 {
  /* font-size: 42px; */
  font-size: 32px;
}

#home-section .content{
  padding: 6rem 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name{
  /* color: var(--p1); */
  color: var(--s3);
}
#hero-title div{
  margin-top: 5rem;
}

#cta, .view-project-btn{
  padding: 1rem 1.7rem;
  border: 3px solid var(--p1);
  background-color: transparent;
  border-radius: 16px;
  transition-duration: 0.4s;
  font-weight: 600;
  font-size: 16px;
  color: var(--p1);
}

#cta:hover, .view-project-btn:hover {
  cursor: pointer;
  background-color: var(--p1);
  color: white;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}
#cta::after, .view-project-btn::after{
  display: none;
}
.background-text{
  position: absolute;
  /* top: 32%; */
  top: 32%;
  transform: translateY(-50%);
  opacity: 0.8;
  font-size: 60px;
  letter-spacing: 0.9rem;
  /* margin-top: 9rem; */
  /* margin-left: -1.5rem; */
  color: var(--p1);
  z-index: -100;
}

.blob{
  fill: var(--s3);
  /* opacity: 0.9; */
  transition: all 1000ms ease-in-out;
}
#home-section .background-svg{
  position: absolute;
  right: 0;
  width: 400px;
  z-index: -10000;
  opacity: 0.4;
}

.blob:hover{
  fill: var(--p3);
}

/****************** ABOUT ********************/
.about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--font-xs);
  line-height: 1.65rem;
  /* font-weight: 500; */
}
.about img {
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 10;
}

.awards-container{
  margin-top: 2rem;
}

.awards-container h3{
  color: var(--s2);
}

.award-section{
  margin-bottom: 0.74rem;
  display:table;
}

.award-section a p{
  position: relative;
  display:table;
  transition: all 0.4s ease 0s
}


.award-section a p:hover{
  color: var(--gray-2)
}
.award-section a p:after {    
  content: "";
  display: block;
  height: 2.5px;
  left: 0;
  position: absolute;
  background: var(--s2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.award-section a p:hover:after { 
  width: 100%; 
  left: 0; 
}

#about-svg{
  fill: var(--t1);
  width: 210px;
  height: 210px;
  position: absolute;
  top: 20%;
  right: 5%;
  opacity: 0.8;
  animation: about-shape 4s ease-in-out infinite;
  filter: url("#drop-shadow");
  transition: all 500ms;
  display: none;
}
@keyframes about-shape{
  0% {
		transform: translate(0px, 0px) rotate(0deg)  ;
  }
  20% {
    fill: var(--t1)
	}
	50% {
    transform: translate(4px, -7px) rotate(15deg) ;
    fill: var(--p2)
  }
  70% {
    fill: var(--p2)
	}
	100% {
    transform: translate(0px, 0px) rotate(0deg) ;
    fill: var(--t1);
	}
}

/****************** PROJECTS ********************/
#project-section {
  margin-top: 11rem;
}
#project-section.container{
  padding: 0 2rem;
}
.project-content{
  /* padding: 3rem 1rem; */
  margin: 2rem auto;
  padding: 3rem 0;
  /* background-color: hsla(0, 0%, 95%, 1); */
  background-color: hsla(178, 55%, 70%, 0.05);
  box-shadow: 2px 1px 14px var(--gray-5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}


.project-content:hover{
  box-shadow: 3px 4px 12px var(--gray-4);
}

.project-content.jia{
  background-image: 
  linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(250, 250, 250, 0.8)
  ),
  url("imgs/jia.png");
}

.project-content.electro{
  background-image: 
  linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(238, 236, 236, 0.8)
  ),
  url("imgs/electro-proj-01.png");
}

.project-content.seed{
  background-image: 
  linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(238, 236, 236, 0.8)
  ),
  url("imgs/seed/seed-name-01.png");
}

.project-content.melp{
  background-image: 
  linear-gradient(
    rgba(255, 255, 255, 0.8), 
    rgba(238, 236, 236, 0.8)
  ),
  url("imgs/melp/melp-logo.png");
}

.project-number{
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 0rem;
  color: var(--s3);
  /* text-shadow:
  -1px -1px 0 var(--p1),  
   1px -1px 0 var(--p1),  
   -1px 1px 0 var(--p1),  
    1px 1px 0 var(--p1); */
}
.project-description{
margin-bottom: 1rem;
}
.project-description h1 {
  font-size: 24px;
  /* margin: 0 2.5rem 1.5rem; */
  margin-bottom: 2rem;
  color: var(--p1);
}

.project-content .left-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#project-section img{
  /* width: 100%; */
  display: none;
}

.view-project-btn{
  background-color: var(--p1);
  color: white;
}

.new .right-section-new .text{
  display: none;
}

/****************** CONTACT ********************/
#contact-section{
  /* margin-top: 9rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-details a{
  text-transform: none;
}
.contact-details a h3{
  text-transform: none;
  position: relative;
  display:table;
}
.contact-details a h3:after {    
  content: "";
  display: block;
  height: 2.5px;
  left: 0;
  position: absolute;
  background: var(--s2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.contact-details a h3:hover:after { 
  width: 100%; 
  left: 0; 
}

.social{
  margin-top: 4rem;
}
.social-links{
  margin-bottom: 2rem;
}
.social-links li{
  margin-bottom: 1rem;
}
.contact-details span,
.contact-content.contact-details h3{
  font-size: 28px;
}
.contact-details span{
  color: var(--s3);
  padding-right: 1rem;

}
#contact-section .background-svg{
  position: absolute;
  right: 0;
  top: 40%;
  width: 400px;
  display: none;
}
#contact-shape-large{
  fill:var(--p2);
  opacity: 0.5;
  filter:url(#dropshadow);
}
#contact-shape-small{
  fill: var(--s3);
  opacity: 0.7;
  filter:url(#dropshadow);
}
.contact-content h3{
  margin-bottom: 2rem;
  font-size: 20px;
}

/****************** MEDIA 450px ********************/
@media (min-width: 450px) {
  .container{
    padding: 0 5rem;
  }

  .social-links{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .social-links li{
    margin-right: 2.5rem;
  }
}

@media (max-width: 450px) {
  #contact-section .section-title span{
    display: block;
    /* margin-left: 3rem; */
    line-height: 7rem;
  }
}
/****************** MEDIA 553px ********************/
@media (min-width: 553px) {
  .background-text{
    font-size: 80px;
    letter-spacing: 0.9rem;
    /* margin-top: 11rem; */
  }

  .section-title{
    font-size: 4rem;
  }
}

@media (min-width: 640px) {
  .container{
    position: relative; 
  }
  #about-svg{
    display: block;
  }
  .about img {
    width: 60%;
  }
}

@media (min-width: 753px) {
  
}

/****************** MEDIA 768px ********************/
@media (min-width: 768px) {
  .container{
    /* height: 100vh; */
    padding: 0 6rem;
  }

  .section-title{
    font-size: 100px;
  }

  /****************** HOME ********************/
  #home-section{
    height: 100vh;
  }
  #home-section .content{
    height: 100%;
  }
  #home-section .background-svg{
    width: 500px;
  }
  #hero-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
  }
  #home-section .background-text{
    display: block;
    font-size: 110px;
    letter-spacing: 1.5rem;
    /* margin-top: 11rem; */
  }

  /****************** ABOUT ********************/
  .about{
    position: relative;
    margin-bottom: 6rem;
  }
  .about img {
    /* height: 450px;
    width: 350px; */
    /* box-shadow: none; */
    width: 60%;
    margin-left: 0;
  }
  .about-text{
    margin-top: 3rem;
  }
  
  /****************** PROJECTS ********************/
  #project-section.container{
    padding: 0 6rem;
  }

  .project-number{
    font-size: 100px;
    margin-top: -4.5rem;
  }
  .project-description h1{
    font-size: 54px;
  }

  /****************** CONTACT ********************/
  #contact-section .background-svg{
    display: block;
  }

  .contact-details h3{
    font-size: 24px;
  }
}

@media (min-width: 830px) {
  .about img {
    width: 50%;
  }

}

/****************** MEDIA 900px ********************/
@media (min-width: 900px) {
  #menu p{
    display: block;
  }

  .line{
    width: calc(16% + 5px);
    display: inline-block;
  }
  
  /* .menu-display{
    width: 40vw;
  } */

  .container{
    padding: 0 9.2rem;
  }

  #home-section .background-text{
    font-size: 100px;
    letter-spacing: 2rem;
    margin-top: 9rem;
  }

  #home-section .content{
    /* margin-top: 5rem; */
    padding-top: 15rem;
  }

 /****************** ABOUT ********************/
  #about-svg{
    width: 260px;
    height: 260px;
    top: 30%;
    right: 12%;
  }

  .about img {
    width: 45%;
  }

  /****************** PROJECTS ********************/
  #project-section.container{
    padding: 0 9.2rem;
  }
  #project-number {
    margin-bottom: 3rem;
  }
  .project-background-svg {
    top: 0;
  }

  /****************** CONTACT ********************/
  #contact-section .section-title h1:last-of-type{
    margin-left: 11rem;
  }

  .social-links{
    margin-bottom: 0;
  }
}

/****************** MEDIA 995px ********************/
@media (min-width: 995px) {
  .container,
  #project-section.container{
    padding: 0 10.5rem;
  }

  /****************** PROJECTS ********************/
  #project-section {
    margin-top: 0;
  }

  .section-title{
    text-align: left;
  }

  /****************** CONTACT ********************/
  #contact-section .background-svg{
    top: 37%;
    width: 500px;
  }
  .contact-details h3{
    font-size: 34px;
  }
}

/****************** MEDIA 1140px ********************/
@media (min-width: 1140px) { 
  .about{
    flex-direction: row;
  }
  .about img {
    width: 80%;
    margin: 2rem;
  }
  .about .about-text{
    margin-top: 4rem;
  }

  .about-border-top{
    border-top: 4px solid var(--p1);
    position: absolute;
    width: 90%;
    right: 0;
  }
  .about-border-bottom{
    border-bottom: 4px solid var(--p1);
    position: absolute;
    bottom:0;
    width: 90%;
  }
  .about-border-left{
    border-left: 4px solid var(--p1);
    position: absolute;
    top: 20%;
    bottom: 10%;
  }

  #about-svg{
    width: 250px;
    height: 250px;
    /* top: -15px; */
    top: 500px;
    right: 15px;
  }
}

/****************** MEDIA 1250px ********************/
@media (min-width: 1250px) {
  .line{
    width: calc(12% + 6.2px);
  }

  .container{
    padding: 0 10rem;
  }

  #hero-title h1 {
    font-size: 42px;
  }
  #home-section .background-text{
    font-size: 170px;
    margin-top: 3rem;
    margin-left: -1.25rem;
  }
  #home-section .background-svg{
    width: 600px;
  }

  .about img {
    width: 70%;
  }

  /****************** PROJECTS ********************/
  #project-section.container{
    padding: 0 10rem;
  }

  .project-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10rem;
  }
 

  .project-content.jia,
  .project-content.electro,
  .project-content.seed,
  .project-content.melp{
    background-image: none;
  }

  #project-section .section-title{
    margin-bottom: 5rem;
  }
  
  .project-number{
    font-size: 100px;
    /* margin-top: -4.5rem; */
  }
  .project-description h1{
    font-size: 54px;
    margin: -4.5rem 0 3.5rem;
    width: 30rem;
  }

  .project-content .left-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-left: 2rem;
  }


  #project-section img{
    display: block;
    height: 100%;
    width: 100%;
  }

  .right-section-new img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
    border: 4px solid #FFF;
    border-right: none;
  }

  .view-project-btn{
    background-color: transparent;
    color: var(--p1);
  }

  .project-border-top{
    border-top: 2px solid var(--p1);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .project-border-right{
    border-right: 2px solid var(--p1);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    transition: height 0.3s ease 0s, left 0.3s ease 0s;
  }
  .project-border-bottom{
    border-bottom: 2px solid var(--p1);
    position: absolute;
    bottom:0;
    width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .project-border-left{
    border-left: 2px solid var(--p1);
    position: absolute;
    top: 0;
    bottom: 10%;
    height: 0;
    transition: height 0.3s ease 0s, left 0.3s ease 0s;
  }

  /* .project-content:hover > .project-border-top,
  .project-content:hover > .project-border-bottom{
    width: 90%;
  }
  .project-content:hover > .project-border-right,
  .project-content:hover > .project-border-left{
    height: 90%;
  } */

  .project-content.new{
    background-color: #f7f7f7;
    box-shadow: none;
    padding: 7rem 0 5rem;
    /* background: linear-gradient(to left, #f2f2f2 45%, #f7f7f7 55%); */
  }

.new .project-border-bottom{
  width: 90%;
}

.new .project-border-top{
  width: 100%;
}

.new .project-border-right,
.new .project-border-left{
  height: 90%;
}

.new .project-number{
  position: absolute;
  top: 10px;
  font-size: calc(0.8rem + 3vw);
  background-color: hsl(0, 0%, 97%);
}
.new .project-title{
  /* display: inline-block; */
  position: relative;
  padding-bottom: 1rem;
}
.project-title::after{
  content: "";
  display: block;
  height: 3px;
  /* left: 50%; */
  bottom: 0;
  position: absolute;
  background: var(--s3);
  /* transition: width 0.3s ease 0s, left 0.3s ease 0s; */
  width: 30%; 
}

.new .right-section-new .text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--p1);
}
/* .new .project-border-top::before{
  content: "01";
  position: absolute;
  display: inline;
  margin-right: 1em;
} */

  
  /****************** CONTACT ********************/
  .contact-content h3{
    margin-bottom: 2rem;
    font-size: 32px;
  }

  #contact-section .background-svg{
    top:10%;
    width: 600px;
  }
}

/****************** MEDIA 1300px ********************/
@media (min-width: 1300px) {
  /* .about .me-img-container{
    width: 70%;
  } */
}


/****************** MEDIA 1400px ********************/
@media (min-width: 1400px) {
  .container,
  #project-section.container{
    padding: 0 11rem;
  }

  .contact-details h3,
  .contact-details span{
    font-size: 42px;
  }
}

/****************** MEDIA 1500px ********************/
@media (min-width: 1500px) {
  .line{
    width: calc(12% + 7.4px);
  }

  /* .menu-display{
    width: 20vw;
  } */
  .container,
  #project-section.container{
    padding: 0 12rem;
  }
  #home-section .background-text{
    font-size: 150px;
    /* margin-top: 1.5rem; */
    margin-left: -1.5rem;
  }

   /****************** ABOUT ********************/
  .about{
    /* width: 75%; */
    margin-bottom: 10rem;
  }
  .about img{
    width: 85%;
    /* padding: 2rem; */
    margin-right:0;
  }
  .me-img-container{
    flex:1
  }
  .about .about-text{
    flex: 2
  }
}

@media (min-width: 1600px) {
  .about-text{
    margin-right: 5rem;
  }

  .container,
  #project-section.container{
    padding: 0 13rem;
  }
}

@media (min-width: 1700px) {
  .line{
    width: calc(12% + 8.4px);
  }
  .container,
  #project-section.container{
    padding: 0 13.3rem;
  }

  .about img{
    width: 80%;
  }
  .about .about-text{
    margin-top: 5rem;
  }


  .project-number{
    font-size: 120px;
  }
  .project-description h1{
    font-size: 64px;
    margin: -4.5rem 0 3.5rem 0;
  }

  .project-description p {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(-90deg);
    font-size: 150px;
    color: var(--gray-5);
    opacity: 0.4;
    /* margin-bottom: 3.5rem; */
  }

  #project-section img{
    display: block;
    height: 100%;
    width: 750px;
  }

}

@media (min-width: 1800px) {
  .line{
    width: calc(12% + 9px);
  }

  .about-text{
    margin-right: 10rem;
  }


  .container,
  #project-section.container{
    padding: 0 14rem;
  }
}

@media (min-width: 1900px) {
  .about-text{
    margin-right: 13rem;
  }


  .container,
  #project-section.container{
    padding: 0 15rem;
  }
}