@import url("variables.css");

.header-img-container.melp{
  background-image: url("./imgs/melp/melp-header-01.png");
}

.electro-reports,
.calibrator,
.electro-settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.electro-reports h2,
.calibrator h2,
.electro-settings h2{
  /* width: 110%; */
  padding-right: 2rem;
  color: var(--p1)
}

.electro-preview img,
.electro-reports img,
.details img{
  margin: 1rem auto 2rem;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

@media (min-width: 768px) {
  .electro-reports,
  .calibrator,
  .electro-settings {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  .electro-preview img:nth-of-type(2){
    margin: 2rem;
  }

  .details img{
    width: 50%;
  }
}

@media (min-width: 1250px) {
  .feature-text{
    width: 50%;
  }

  .electro-preview img,
  .electro-reports img,
  .details img{
    width: 20%;
  }
}

@media (min-width: 1400px) {
  .electro-preview {
    margin: 5rem auto;
  }
}