@import url("variables.css");

h1{
  font-size: var(--font-l);
}
h2{
  font-size: var(--font-m);
  margin-bottom: 1rem;
}
h3{
  font-size: var(--font-s);
  margin-bottom: 1rem;
}
p{
  font-size: var(--font-xs);
  margin-bottom: 1rem;
}

#menu p{
  font-size: 1rem;
  margin-bottom: 0;
}

.project{
  height: initial;
}

.page-top-colour,
.page-bottom-colour{
  right: 0;
  bottom: 0;
  height: 40vh;
  background-color: hsla(178, 55%, 25%, 0.2);
}
.page-bottom-colour{
  height: 25vh;
}

.header-img-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -16rem;
  background-color: white;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
  width: 100vw;
  height: 50vh;
  z-index: 10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-img-container img{
  padding: 5rem 2rem;
  z-index: 10;
}

.title-and-description{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}

.title-and-description .title-and-services{
  flex: 1;
}
.title-and-description .title-and-services h1{
  color: var(--p1);
  margin-bottom: 0.5rem;
}
.title-and-description .brief{
  flex: 1;
  margin-top: 1.5rem;
}
.title-and-description .brief-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services{
  display: flex;
  justify-content: space-between;
  margin: 6rem 0;
}
.services h2{
  font-size: var(--font-m);
  margin-bottom: 0.5rem;
}
.services li{
  font-size: var(--font-xs);
}

.images-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-project{
  padding-top: 2rem;
}
.next-project h1{
  font-size: var(--font-m);
  margin-left: 3rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, hsl(4, 50%, 25%), hsl(4, 50%, 25%) 50%, #262d38 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%; 
  transition: background-position 500ms ease;
}
h1:hover {
  background-position: 0 100%;
  cursor: pointer;
}
.next-project h2{
  font-size: var(--font-m);
  margin-bottom: 2rem;
}

.view-project-btn {
  border: none;
}
.view-project-btn:hover {
  box-shadow: none;
}

@media (max-width: 400px) and (max-height: 840px) {
  .header-img-container{
    margin-top: -14rem;
  }
}

@media (min-width: 450px) {
  .page-top-colour{
    height: 35vh;
  }
  .page-bottom-colour{
    height: 28vh;
  }

}

@media (min-width: 768px) {
  .page-top-colour{
    height: 35vh;
  }
  .page-bottom-colour{
    height: 28vh;
  }

  .services .year{
    font-size: var(--font-xs);
  }


  .images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .next-project h1{
    font-size: var(--font-l);
  }
  .next-project h2{
    font-size: var(--font-m);
  }
}

@media (min-width: 995px) {
  .page-top-colour,
  .page-bottom-colour{
    height: 40vh;
  }

}

@media (min-width: 1100px) {
  .next-project h1{
    font-size: var(--font-xl);
    margin-left: 5rem;
  }
  .next-project h2{
    font-size: var(--font-l);
  }

}

@media (min-width: 1250px) {
  h1{
    font-size: var(--font-xl);
  }
  h2{
    font-size: var(--font-l);
  }
}

@media (min-width: 1400px) {
  .title-and-description{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
  }

  .title-and-description h1{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media (min-width: 1500px) {
  .title-and-description .brief p{
    font-size: var(--font-xs);
  }

  .next-project h1{
    font-size: var(--font-xxl);
    margin-left: 10.5rem;
  }
}


@media (min-width: 1700px) {
  .header-img-container{
    margin-top: -17rem;
  }

  .header-img-container img{
    padding: 2rem 10rem;
  }
}