@import url("variables.css");

.header-img-container{
  background-image: url("./imgs/seed/seed-header.png");
}

.services-list{
  margin-bottom: 1rem;
}

.services-list h3{
  margin-bottom: 0;
}

.details{
  display: flex;
  flex-direction: column;
}

.details h2{
  margin-top: 5rem;
}


.details img{
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.details h2,
.responsive h2{
  color: var(--p1);
}

.mockups-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.mockups-container img{
  /* width: 43%; */
  padding: 0;
  margin: 0;
  border-radius: 8px;
  margin-top: 5rem;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.responsive{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
}
.responsive h2{
  margin-bottom: 1.5rem;
}

.responsive .images-container img {
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%);
}

.responsive .images-container img:nth-of-type(2) {
  margin: 4rem 0;
}

@media (min-width: 768px) {
  .details .card{
    width: 80%;
  }

  .mockups-container{
    flex-direction: row;
    justify-content: space-between;
  }

  .mockups-container img{
    width: 43%;
    margin-top: 5rem;
  }
  .mockups-container img:last-child{
    margin-top: 7rem;
  }
  

  .responsive {
    display: flex;
    align-items: flex-start;
  }

  .responsive .images-container img:nth-of-type(2) {
    margin: 0 2rem 0 2rem;
  }

  .responsive .images-container img {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .responsive .images-container img {
    width: 20%;
  }
}

@media (min-width: 1100px) {
  .details .card{
    width: 35%;
    /* padding: 2rem; */
  }

  .images-container img {
    width: 25%;
  }
}

@media (min-width: 1700px) {


  .details{
    border-radius: 12px;
    margin: 2rem auto;
  }
}