:root{
  --p1: hsl(177, 55%, 25%);
  --p2: hsl(178, 55%, 50%);
  --p3: rgb(136, 221, 218);

  --s1: hsl(4, 50%, 25%);
  --s2: hsl(4, 50%, 33%);
  --s3: hsl(4, 50%, 65%);

  --t1: hsl(4, 45%, 55%);
  --t2: hsl(4, 45%, 24%);
  --t3: hsl(4, 45%, 90%);

  --gray-1: hsl(0, 0%, 15%);
  --gray-2: hsl(0, 0%, 35%);
  --gray-3: hsl(0, 0%, 55%);
  --gray-4: hsl(0, 0%, 67%);
  --gray-5: hsl(0, 0%, 95%);

  --font-xxl: 5.653rem;
  --font-xl: 3.998rem;
  --font-l: 2.827rem;
  --font-m: 1.999rem;
  --font-s: 1.414rem;
  --font-xs: 1.125rem;
}